{% extends "base.html" %}

{% block content %}

<body class="main">
<!-- Shell -->
<div class="edit-container">
  <div class="menu-header">Tables</div>
  <div class="menu-container">
    <br>
    <h2>Nodes</h2>
    <br>
    <p><a href="/table/movies">Movies</a></p>
    <p><a href="/table/characters">Characters</a></p>
    <p><a href="/table/events">Events</a></p>
    <p><a href="/table/organizations">Organizations</a></p>
    <br>
    <h2>Connections</h2>
    <br>
    <p><a href="/table/movies_characters">Movies to Characters</a></p>
    <p><a href="/table/movies_events">Movies to Events</a></p>
    <p><a href="/table/events_characters">Events to Characters</a></p>
    <p><a href="/table/movies_organizations_characters">Movies to Organizations to Characters</a></p>
    <br>
    {% if isAdmin == True %}
    <h2>Users(ADMIN ONLY)</h2>
    <br>
    <p><a href="/table/user_info">User Information</a></p>
    {% endif %}
  </div>
</div>
</body>

{% endblock %}