{% extends "base.html" %}

{% block content %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>MCU VISUALIZATION</title>
  {% endif %}
</head>

<body>
<!-- Shell -->
<div id="shell">

  <!-- main-poster -->
  <div id="main-poster">
    <!-- Content -->
    <div id="content">


      <!-- Box -->
      <div class="box">
        <div class="head">
          <h2>MOVIES</h2>
        </div>        
        
        <!-- 1. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('iron_man') }}"><span class="play"><span class="name">Iron Man</span></span><img src="static/css/posters/iron_man.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 2. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('the_incredible_hulk') }}"><span class="play"><span class="name">The Incredible Hulk</span></span><img src="static/css/posters/the_incredible_hulk.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->


        <!-- 3. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('iron_man_2') }}"><span class="play"><span class="name">Iron Man 2</span></span><img src="static/css/posters/iron_man_2.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 4. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('thor') }}"><span class="play"><span class="name">Thor</span></span><img src="static/css/posters/thor.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 5. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('captain_america_the_first_avenger') }}"><span class="play"><span class="name">Captain America: Civil War</span></span><img src="static/css/posters/captain_america_the_first_avenger.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 6. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('the_avengers') }}"><span class="play"><span class="name">The Avengers</span></span><img src="static/css/posters/the_avengers.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 7. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('iron_man_3') }}"><span class="play"><span class="name">Iron Man 3</span></span><img src="static/css/posters/iron_man_3.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 8. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('thor_dark_world') }}"><span class="play"><span class="name">Thor: Dark World</span></span><img src="static/css/posters/thor_dark_world.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 9. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('captain_america_the_winter_soldier') }}"><span class="play"><span class="name">Captain America: The Winter Soldier</span></span><img src="static/css/posters/captain_america_the_winter_soldier.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 10. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('guardians_of_the_galaxy') }}"><span class="play"><span class="name">Guardians Of Galaxy</span></span><img src="static/css/posters/guardians_of_galaxy.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 11. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('avengers_age_of_ultron') }}"><span class="play"><span class="name">Avengers: Age of Ultron</span></span><img src="static/css/posters/avengers_age_of_ultron.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 12. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('ant_man') }}"><span class="play"><span class="name">Ant Man</span></span><img src="static/css/posters/ant_man.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 13. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('captain_america_civil_war') }}"><span class="play"><span class="name">Captain America: Civil War</span></span><img src="static/css/posters/civil_war.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 14. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('doctor_strange') }}"><span class="play"><span class="name">Doctor Strange</span></span><img src="static/css/posters/doctor_strange.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 15. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('guardians_of_the_galaxy_vol_2') }}"><span class="play"><span class="name">Galaxy vol 2</span></span><img src="static/css/posters/guardians_of_the_galaxy_vol_2.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 16. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('spider_man_homecoming') }}"><span class="play"><span class="name">Spider Man Homecoming</span></span><img src="static/css/posters/spider_man_homecoming.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 17. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('thor_ragnarok') }}"><span class="play"><span class="name">Thor Ragnarok</span></span><img src="static/css/posters/thor_ragnarok.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        <!-- 18. Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('black_panther') }}"><span class="play"><span class="name">Black Panther</span></span><img src="static/css/posters/black_panther.jpg" alt="movie" /></a>
          </div>
        </div>
        <!-- end Movie -->

        
        <!--

        more movie formats  
        
        <div class="movie">
          <div class="movie-image">
            <a href="{{ url_for('thor') }}"><span class="play"><span class="name">HOUSE</span></span><img src="css/images/movie13.jpg" alt="movie" /></a>
          </div>
        </div>

      -->

      </div>

        <div class="cl">&nbsp;</div>
      </div>
      <!-- end Box -->
      
    </div>
    <!-- end Content -->

</div>
<!-- end Shell -->
</body>
</html>

{% endblock %}