{% extends "base.html" %}

{% block content %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>MCU VISUALIZATION</title>
  {% endif %}
</head>

<body class="main">
<!-- Shell -->
<div class="container">
  <div class="graph-header">SELECT A VISUALIZATION</div>
  <div class="node-info">
    <h2>Timeline On the Right</h2>
    <h3></h3>
    <h4></h4>
    <h5></h5>
    <h6></h6>
  </div>
  <div class="graph-container"></div>
</div>
  <div class="timeline-container">
      <div class="timeline">
        <div class="points-container">
          {% for movie in movies %}
          <div name="{{movie[0]}}" class="point" data-movieId='{{movie[1]}}'>
            <div class="point-line-top"></div>
            <div class="point-line-bottom"></div>
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
</body>
</html>

<script>
  $(document).ready(function() {
    $(".point").on('click', function() {
      d3.select("h2").html("")
      d3.select("h3").html("")
      d3.select("h4").html("")
      d3.select("h5").html("")
      d3.select("h6").html("")

      $(this).addClass('active-point').siblings().removeClass('active-point');
      $('.graph-header').text($(this).attr('name'));
      $.ajax({
        url: '/api/v1/movie/' + $(this).attr('data-movieId'),
        type: 'GET',
        dataType: 'json',
        success: function(resp) {
          // console.log(resp);
          let currentSVG = d3.select('svg')
          if (currentSVG) {
            currentSVG.remove();
          }
          startSimulation(resp);
        }
      })
    });
  });

</script>

<script>

function startSimulation(resp) {
  let $graphContainer = $(".graph-container");
  let graphWidth = $graphContainer.width();
  let graphHeight = $graphContainer.height();


  // console.log(d3.select(".graph-container").attr('class'));
  d3.select(".graph-container").append("svg")
        .attr("width", graphWidth)
        .attr("height", graphHeight);

var color = d3.scaleOrdinal(d3.schemeCategory20);

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

view = svg.append("g")
        .attr("class", "view");

var zoom_handler = d3.zoom()
    .on("zoom", zooming);

zoom_handler(svg); 


vis = d3.select("svg")
.append("svg:svg")
    .attr("width", width)
    .attr("height", height)
    .append("svg:g")
    .on("click", dragstarted);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(120).strength(1))
    .force("collide",d3.forceCollide( function(d){ return 50 }).iterations(16) )
    .force("x", d3.forceX(function(d){
      switch(d.group){
        case "movie":
          return 250
          break;
        case "organization":
          return 600
          break;
        case "event":
          return 1200
        default:
          return 2000
  }
    }))
    .force("center", d3.forceCenter(width / 2, height / 2));

  var tranDuration = 1000;
  var toSize = 180;
  var showSize = 100;
  var initSize = 60;
  var clickOn;
  var link, node;
  var mapConnection;
  var whileClicked;


// ====================================================== //
// draw the force directed graph
d3.json("{{ url_for('static', filename='path.json')}}", function(error, graph) {
  if (error) throw error;

  clickOn= false;
  whileClicked = false;
  
  graph = resp;
  // console.log(graph);

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links)

  mapConnection = {};
  // creating a map that contains all the connection
  graph.links.forEach(function(d) {
  mapConnection[d.source.index + "," + d.target.index] = 1;
  });

  link = view.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke", (d) => '#999')
      .attr("stroke-opacity", (d) => 1)
      .attr("stroke-width", function(d) { return Math.sqrt(d.value); });
  
  node = view.selectAll(".node")
      .data(graph.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  node.on("mouseover", mouseON)
      .on("mouseout", mouseOUT)
      .on("click", nodeClick);


  node.append('circle')
      .attr("class", "node_circle")
      .attr("r", (d) => sizeSetter(d))
      .attr("fill", (d) => color(d.group))

  node.append("image")
      .attr("class", "node_image")
      .attr("xlink:href", function(d) { return d.image; })
      .attr("x", -initSize/2)
      .attr("y", -initSize/2)
      .attr("width", initSize)
      .attr("height", initSize);

  node.append("text")
      .attr("class", "node_text")
      .attr("dy", -30)
      .style("text-anchor", "middle")
      .text(function(d) { return d.id })
      .style("display", "none");

  node.append("text")
      .attr("class", "node_description")
      .attr("x", 500)
      .attr("y", 500)
      .text(function(d) {return d.about[0]})
      .style("display", "none");

});

// ============================================================== //

function displayClicked(d, clicked) {
  var finalX = width / 2;
  var finalY = 300;
  var transitionDuration = 500;
  whileClicked = true;

  simulation.force('x', d3.forceX().x(function(d) {
    return finalX;
  })).force('y', d3.forceY().y(function(d) {
    return finalY;
  }))


  node.style("opacity", function(o) {
        return isConnected(d, o) ? 1 : 0;
        });

  // d3.select(clicked).transition().duration(transitionDuration)
  //           .attr('cx', function(d) {
  //               return d.x = finalX;
  //           })
  //           .attr('cy', function(d) {
  //               return d.y = finalY;
  //           }).attr("transform", function (d) {
  //               return "translate(" + d.x + "," + d.y + ")";
  //           });
  

  d3.select(clicked).select(".node_image").transition().duration(tranDuration)
            .attr("width", toSize)
            .attr("height", toSize)
            .attr("x", -toSize / 2)
            .attr("y", -toSize / 2);
}

//when node is clicked
function nodeClick(d) {
    clickOn = true;

    initialSize(d)
    highlightLink(d, 0, '#f26f6f')

    d3.select("h2").html(d.id); 
    d3.select("h3").html(d.about);
    d3.select("h4").html("&nbsp");


    displayClicked(d, this)
  }

function checkTarget() {
    return this == d3.event.target;
}

d3.select(".graph-container svg").on("click", function() {
    var touchNode = svg.filter(checkTarget).empty();

    if(!touchNode) {
        dragstarted(d3)
  }
})

// ============================================================== //

// shows the adjacent nodes (or itself)
function isConnected(a, b) {
    return mapConnection[a.index + "," + b.index] 
    || mapConnection[b.index + "," + a.index] 
    || a.index == b.index;
}


function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; })
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  }

function dragstarted(d) {
  whileClicked = false;

  // all steps to reverse to its initial setup
//==========================================
  simulation.force("x", d3.forceX(function(d){
      switch(d.group){
        case "movie":
          return 250
          break;
        case "organization":
          return 600
          break;
        case "event":
          return 1200
        default:
          return 2000
  }
    }))
    .force("center", d3.forceCenter(width / 2, height / 2));

  initialSize(d)
  link.style("stroke-opacity",(o) => 1.0)
      .style("stroke", (o) => '#999999');
  node.style("opacity", (o) => 1.0);


  d3.select("h2").html(""); 
  d3.select("h3").html("");
  d3.select("h5").html("");
  d3.select("h6").html("");
//==============================================
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

function zooming(){
    view.attr("transform", d3.event.transform)
}

function mouseON(d) {
  if(!whileClicked) {
      clickOn = false;
      highlightLink(d, .25, '#f26f6f')
      d3.select(this).select(".node_image").interrupt()
  .transition().duration(tranDuration/4)
        .attr("width", showSize)
        .attr("height", showSize)
        .attr("x", -showSize / 2)
        .attr("y", -showSize / 2);
      }

  if(whileClicked && d3.select(this).style("opacity") == 1 && document.getElementsByTagName("h2")[0].innerHTML != d.id) {
      d3.select("h5").html(d.id); 
      d3.select("h6").html(d.about);
  }

  d3.select(this).select(".node_text")
      .style("display", null);
}


function mouseOUT(d) {
  if(!whileClicked){
    highlightLink(d, 1, '#999999')

    if(!clickOn) {
    d3.select(this).select(".node_image").interrupt().transition().duration(tranDuration/4)
      .attr("width", initSize)
      .attr("height", initSize)
      .attr("x", -initSize / 2)
      .attr("y", -initSize / 2);
    }
  }
      d3.select(this).select(".node_text")
        .style("display", "none");
      d3.select("h5").html(""); 
      d3.select("h6").html("");
  }

function highlightLink(d, min, col) {
    link
    .transition(500)
      .style("stroke-opacity", function(o) {
        return o.source === d || o.target === d ? 
        1.0 : min;
      })
      .style("stroke", function(o) { 
        return o.source === d || o.target === d ? 
        col : '#999999'; });
  }


function initialSize(d) {
  d3.selectAll(".node_image")
    .attr("width", 60)
    .attr("height", 60)
    .attr("x", -30)
    .attr("y", -30)
}

function locationX(d) {
      switch(d.group){
        case "movie":
          return 250
          break;
        case "organization":
          return 500
          break;
        case "event":
          return 600
        default:
          return 700
  }
}


function sizeSetter(d) {
  switch(d.group) {
    case "movie":
      return 60
      break;
    case "organization":
      return 50
      break;
    case "event":
      return 40
    default:
      return 30
  }
}

}
</script>

{% endblock %}
