{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>MCU VISUALIZATION</title>
  {% endif %}
</head>

<body>

<header>
      <a href="{{ url_for('index') }}">
        <h1>Marvel Characters ( {{ moviename }} )</h1>
      </a>
      <h2>Click to view more about the character</h2>
      <h3></h3>
      <h4></h4>
    </header>

<style>
.links line {
  stroke: #999;
  stroke-opacity: 1;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1px;
}

</style>
<svg width="1500" height="1200"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var color = d3.scaleOrdinal(d3.schemeCategory20);

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(250).strength(1))
    .force("collide",d3.forceCollide( function(d){ return 50 }).iterations(16) )
    .force("x", d3.forceX(function(d){
      switch(d.group){
        case "movie":
          return 250
          break;
        case "organization":
          return 600
          break;
        case "event":
          return 1200
        default:
          return 2000
  }
    }))
    .force("center", d3.forceCenter(width / 2, height / 2));

  var tranDuration = 1000;
  var toSize = 180;
  var showSize = 100;
  var initSize = 60;
  var clickOn;
  var link, node;
  var mapConnection;
  var whileClicked;


// ====================================================== //
// draw the force directed graph
d3.json("{{ url_for('static', filename='path.json')}}", function(error, graph) {
  if (error) throw error;

  clickOn= false;
  whileClicked = false;

  //TODO once it works takes the commenting out!!!!!!!!!!!!
  graph = {{ jsongraph|tojson|safe }}

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links)

  mapConnection = {};
  // creating a map that contains all the connection
  graph.links.forEach(function(d) {
  mapConnection[d.source.index + "," + d.target.index] = 1;
  });


  link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke-width", function(d) { return Math.sqrt(d.value); });
  
  node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  node.on("mouseover", mouseON)
      .on("mouseout", mouseOUT)
      .on("click", nodeClick);


  node.append('circle')
      .attr("r", (d) => sizeSetter(d))
      .attr("fill", (d) => color(d.group))

  node.append("image")
      .attr("class", "node_image")
      .attr("xlink:href", function(d) { return d.image; })
      .attr("x", -initSize/2)
      .attr("y", -initSize/2)
      .attr("width", initSize)
      .attr("height", initSize);

  node.append("text")
      .attr("class", "node_text")
      .attr("dy", -30)
      .style("text-anchor", "middle")
      .text(function(d) { return d.id })
      .style("display", "none");

  node.append("text")
      .attr("class", "node_description")
      .attr("x", 500)
      .attr("y", 500)
      .text(function(d) {return d.about[0]})
      .style("display", "none");
});

// ============================================================== //

function displayClicked(d, clicked) {
  var incidentCircleCenterX = width / 2;
  var incidentCircleCenterY = 300;
  var transitionDuration = 500;
  whileClicked = true;

  simulation.force('x', d3.forceX().x(function(d) {
    return incidentCircleCenterX;
  })).force('y', d3.forceY().y(function(d) {
    return incidentCircleCenterY;
  }))



  node.style("opacity", function(o) {
        return isConnected(d, o) ? 1 : 0;
        });

  d3.select(clicked).transition().duration(transitionDuration)
            .attr('cx', function(d) {
                return d.x = incidentCircleCenterX;
            })
            .attr('cy', function(d) {
                return d.y = incidentCircleCenterY;
            }).attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
            });
  // simulation.stop()

  d3.select(clicked).select(".node_image").transition().duration(tranDuration)
            .attr("width", toSize)
            .attr("height", toSize)
            .attr("x", -toSize / 2)
            .attr("y", -toSize / 2);
}


function nodeClick(d) {
    highlightLink(d, 0, '#f26f6f')

    clickOn = true;

    d3.select("h2").html(d.id); 
    d3.select("h3").html(d.about);
    // d3.select("h4").html("EVENTS: " + d.events);

    initialSize(d)

    displayClicked(d, this)
  }

// ============================================================== //

// shows the adjacent nodes
function isConnected(a, b) {
    return mapConnection[a.index + "," + b.index] 
    || mapConnection[b.index + "," + a.index] 
    || a.index == b.index;
}


function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; })
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  }

function dragstarted(d) {
  whileClicked = false;

  // all the initial setup
//==========================================
  simulation.force("x", d3.forceX(function(d){
      switch(d.group){
        case "movie":
          return 250
          break;
        case "organization":
          return 600
          break;
        case "event":
          return 1200
        default:
          return 2000
  }
    }))
    .force("center", d3.forceCenter(width / 2, height / 2));

  initialSize(d)
  link.style("stroke-opacity",(o) => 1.0)
      .style("stroke", (o) => '#999999');
  node.style("opacity", (o) => 1.0);
//==============================================
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;


  d3.select("h2").html("Click to view more about the character"); 
  d3.select("h3").html("");
  d3.select("h4").html("");
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}


function mouseON(d) {
  if(!whileClicked) {
      clickOn = false;
      highlightLink(d, .25, '#f26f6f')
      d3.select(this).select(".node_image").interrupt()
  .transition().duration(tranDuration/4)
        .attr("width", showSize)
        .attr("height", showSize)
        .attr("x", -showSize / 2)
        .attr("y", -showSize / 2);
      }
  d3.select(this).select(".node_text")
      .style("display", null);
}

function mouseOUT(d) {
  if(!whileClicked){
    highlightLink(d, 1, '#999999')

    if(!clickOn) {
    d3.select(this).select(".node_image").interrupt().transition().duration(tranDuration/4)
      .attr("width", initSize)
      .attr("height", initSize)
      .attr("x", -initSize / 2)
      .attr("y", -initSize / 2);
    }
  }
      d3.select(this).select(".node_text")
        .style("display", "none");
  }

function highlightLink(d, min, col) {
    link
    .transition(500)
      .style("stroke-opacity", function(o) {
        return o.source === d || o.target === d ? 
        1.0 : min;
      })
      .style("stroke", function(o) { 
        return o.source === d || o.target === d ? 
        col : '#999999'; });
  }


function initialSize(d) {
  d3.selectAll(".node_image")
    .attr("width", 60)
    .attr("height", 60)
    .attr("x", -30)
    .attr("y", -30)
}

function locationX(d) {
      switch(d.group){
        case "movie":
          return 250
          break;
        case "organization":
          return 500
          break;
        case "event":
          return 600
        default:
          return 700
  }
}


function sizeSetter(d) {
  switch(d.group) {
    case "movie":
      return 60
      break;
    case "organization":
      return 50
      break;
    case "event":
      return 40
    default:
      return 30
  }
}



</script>

</body>
{% endblock %}
