{% extends "base.html" %}

{% block content %}


<body>
    <div id="main">

<section id="name_image">
    {% if user == current_user %}
    <input type="button" value="Edit Profile" onclick="window.location.href='#'" />

    {% endif %}
  <tr valign="top">
  <h1>User: {{ user.username }}</h1>
  <div class="profile_picture">
<td><img class="profile_pic" src="/static/img/logo/profile_holder.png" alt = "profile picture"></td>
</div>
</section>
<section id="bio">
  {% if user.about_me %}
  <h1>About Me</h1>
  <p>{{ user.about_me }}</p>
  {% endif %}
</section>

</div>
</body>
{% endblock %}